@model Empleado

@{
    ViewData["Title"] = "Empleados";

    string ConvertirEnMayusculas(string valor)
    {
        return valor.ToUpper() + " - Mayus";
    }

    DateTime hoy = DateTime.Now;
    var empleados = new List<Empleado>()
    {
        new Empleado()
        {
            Id = 1,
            Nombre = "Pepito Perez",
            Edad = 30,
        },
        new Empleado()
        {
            Id = 2,
            Nombre = "Pepito Rancion",
            Edad = 40,
        },
        new Empleado()
        {
            Id = 3,
            Nombre = "Rancion Perez",
            Edad = 50,
        },
    };
}

<div class="text-center">
    <h1 class="display-4">Tabla de Empleados</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
        </tr>
        @foreach (var empleado in empleados)
            {
        <tr>
            <td><i class="bi bi-person"></i> @empleado.Id</td>
            <td>@empleado.Nombre</td>
            <td>@empleado.Edad</td>
        </tr>
            }
    </table>
    
    <br />
    <br />
    <br />
    <table>
        <tr>
            <th>Placa</th>
            <th>Valor</th>
            <th>Empleado</th>
        </tr>
        <tr>
            <td><i class="bi bi-cart"> <input name=placa/> </i></td>
            <td> <input name=valor/> </td>
            <td> <input name=empleado/> </td>
        </tr>
    </table>
</div>

